*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    background: dodgerblue;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}
.square{
    width: 94%;
    height: 94%;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
}
.black{
    background: white;
    animation: rotate 10s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}