*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collection{
    list-style: none;
    display: flex;
    gap: 40px;
}
.item,
.logo{
    transform: translateY(-40px);
    opacity: 0;
    animation: logo .8s  4s   forwards;
}
@keyframes logo {
    to{
        opacity: 1;
        transform: translateY(0);
    }   
}
.item:nth-child(1){
    animation-delay: 4.2s;
}
.item:nth-child(2){
    animation-delay: 4.4s;
}
.item:nth-child(3){
    animation-delay: 4.6s;
}
.item:nth-child(4){
    animation-delay: 4.8s;
}


.banner{
    padding: 50px 15%;
    min-height: 600px;
    display: flex;
    gap: 30px;
}
.banner__text,
.banner__img{
    width: 50%;
}
.banner__text h1{
    font-size: 50px;
}
.banner__text p{
    font-size: 18px;
    padding: 20px 0;
    line-height: 1.6;
    color: #555;
}
.banner__text button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: dodgerblue;
    color: #fff;
}
.to__top{
    transform: translateY(60px);
    opacity: 0;
    animation: bannerText .8s 6s   forwards;
}
@keyframes bannerText {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.to__top:nth-child(2){
    animation-delay: 6.3s;
}
.to__top:nth-child(3){
    animation-delay: 6.6s;
}
.banner__img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;

    transform: scale(0);
    opacity: 0;
    animation: photo .8s  7.6s   forwards;
}
@keyframes photo {
    to{
        transform: scale(1);
        opacity: 1;
    }
    
}






































.box{
    width: 150px;
    height: 150px;
    background: red;
    position: relative;

    animation-name: anime;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 7;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes anime {
    from{
        left: 0;
    }
    to{
        left: 500px;
        border-radius: 50%;
        background: blue;
    }
    
}
.big{
    width: 100px;
    height: 100px;
    background: violet;
    position: relative;

    animation: big 3s ease-in 0s infinite;
}
@keyframes big {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        left: 500px;
        top: 0;
        background: dodgerblue;
    }
    50%{
        left: 500px;
        top: 500px;
        background: gold;
        border-radius: 50%;
    }
    75%{
        left: 0;
        top: 500px;
        background: tomato;
    }
    100%{
        top:0;
        left: 0;
    }
}


.loading{
    width: 100%;
    height: 100vh;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    padding: 80px;
    animation: loading .3s   linear 3.5s forwards;
}
@keyframes loading {
    0%{
        opacity: 1;
    }
    95%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
    
}
.loading h1{
    font-size: 8vw;
}
.progress{
    width: 100%;
    height: 10px;
    background: #fff;
    border-radius: 20px;

    animation: progress 3s linear .5s forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes progress {
    to{
        transform: scale(1);
    }
    
}